* {
  box-sizing: border-box;
  background-color: #30292f;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  /* color: #F7F7F7; */
  color: #ffffff;
  font-family: "Lora", sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
  margin: 50px;
}

header {
  /*border: 1px solid red;*/
  /* color: #24292E; */
  color: #cad0d5;
  font-family: "Fira Sans", sans-serif;
  /*font-size: 3em;*/
  line-height: normal;
  /*margin: 2em;*/
  margin: auto;
  text-align: center;
  width: 100%;
}

header h1 {
  /*border: 1px solid blue;*/
  font-size: 3em;
  margin: .25em;
}

header h2 {
  font-size: 2em;
  margin: .25em;
}

img {
    max-width: 100%;
    height: auto;
}

nav {
  margin: 1em;
  /*width: 100%;*/
  /*background-color: #54575A;*/
  /*border: 1px dotted purple;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*list-style-type: none;*/
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 400px;
  width: 75%;
}

nav li {
  list-style-type: none;
  margin-top: .1em;
  margin-bottom: .1em;
}

article {
  margin-top: 30px;
}

article:first-of-type {
  margin-top: 0;
}

footer {
  bottom: 0;
  color: #acacac;
  font-size: 3vw;
  position: static;
  text-align: center;
  width: 100%;
}

em, strong {
  font-synthesis: none;
}

em {
  background-color: #4d56bc;
  border-radius: 2px;
  font-style: normal;
}

strong {
  font-style: normal;
  font-weight: 900;
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans", sans-serif;
  /*font-size: 1.5em;*/
  font-style: normal;
  font-weight: normal;
  line-height: 1.1em;
}

h1 {
  font-size: 2em;
  font-weight: 100;
  /*margin: .5em;*/
  /*border: 1px solid red;*/
}

h2 {
  font-size: 1.3em;
  font-style: italic;
  color: grey;
  /*margin: .25em;*/
}

p {
  margin-top: 1em;
}

/*****************************************************************************/


/*A class that I can use to display code in monospace font format*/
.code {
  font-family: "Oxygen Mono", monospace;
  font-size: .9em;
  font-weight: normal;
  font-style: normal;
  background: #413f54;
  border-radius: 2px;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {

  width: 700px;     /* my max width */
}

/*****************************************************************************/

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 649px) {
  body {
    font-size: 18px;  /* max text size */
  }

  footer {
    font-size: 13px;
  }

  .post-text-body {
    margin: auto;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 650px) {
  .post-text-body {
    width: 550px;
    margin: auto;
  }
}
