* {
  box-sizing: border-box;
  background-color: #F7F7F7;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  color: #5D6063;
  font-family: "Lora", sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.3em;
}

header {
  border: 1px solid red;
  color: #24292E;
  font-family: "Fira Sans", sans-serif;
  /*font-size: 3em;*/
  line-height: normal;
  padding: .5em;
  text-align: center;
  width: 100%;
}

header h1 {
  border: 1px solid blue;
  font-size: 3em;
  padding: .25em;
}

header h2 {
  font-size: 2em;
  padding: .25em;
}



nav {
  /*width: 100%;*/
  /*background-color: #54575A;*/
  /*border: 1px dotted purple;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*list-style-type: none;*/
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 400px;
  width: 75%;
}

nav li {
  list-style-type: none;
  padding-top: .1em;
  padding-bottom: .1em;
}

article {
  padding-top: 20px;
}

article:first-of-type {
  padding-top: 0;
}

footer {
  bottom: 0;
  color: #acacac;
  font-size: 3vw;
  position: fixed;
  text-align: center;
  width: 100%;
}

/*****************************************************************************/

em, strong {
  font-synthesis: none;
}

em {
  background-color: #ffe792;
  border-radius: 2px;
  font-style: normal;
}

strong {
  font-style: normal;
  font-weight: 900;
  font-size: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans", sans-serif;
  /*font-size: 1.5em;*/
  font-style: normal;
  font-weight: normal;
  line-height: 1.1em;
}

h1 {
  font-size: 2em;
  font-weight: 100;
  /*padding: .5em;*/
  /*border: 1px solid red;*/
}

h2 {
  font-size: 1.3em;
  font-style: italic;
  color: grey;
  /*padding: .25em;*/
}

/*A class that I can use to display code in monospace font format*/
.code {
  font-family: "Oxygen Mono", monospace;
  font-size: .9em;
  font-weight: normal;
  font-style: normal;
  background: #dedede;
  border-radius: 2px;
}

.menu {
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.page {
  border: 1px dotted green;
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  width: 650px;     /* my max width */
}

/*****************************************************************************/

/* Tablet Styles */
@media only screen and (min-width: 401px) {
  body {
    font-size: 18px;
  }

  footer {
    font-size: 13px;
  }

  .content {
    width: 700px;
  }
}
