* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F7F7F7;
}

body {
  font-family: "Zilla Slab", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8em;
  color: #5D6063;
}

em, strong {
  font-synthesis: none;
}

em {
  font-style: normal;
  background-color: #ffe792;
  border-radius: 2px;

}

strong {
  /*font-style: italic;*/
  font-weight: 900;
  font-size: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  line-height: 1.3em;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
}

h1 {
  font-size: 3em;
  padding: .5em;
  /*border: 1px solid red;*/
}

h2 {
  font-size: 2em;
  padding: .25em;
}


header {
  text-align: center;
  color: #24292E;
}

nav {
  background-color: #54575A;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #acacac;
  font-size: 13px;
}

/*A class that I can use to display in monospace font format*/
.code {
  font-family: "Oxygen Mono", monospace;
  font-size: .9em;
  font-weight: normal;
  font-style: normal;
  background: #dedede;
  border-radius: 2px;
}

.menu-container {
  display: flex;
  justify-content: center;
  /*border: 1px dotted purple;*/
}

.menu {
  display: flex;
  /*border: 1px solid red;*/
  width: 500px;
  justify-content: space-around;
}

.page {
  border: 1px dotted green;
  display: flex;
  justify-content: center;
  width: 100%;
}

.section {
  border: 1px solid blue;
  display: flex;
  width: 650px;     /* my max width */
  flex-direction: column;

}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .section {
    width: 400;
  }
}
