---
import MinimalLayout from "../layouts/MinimalLayout.astro";
---
<MinimalLayout title="Not Found">
  <div class="title">404</div>
  <p class="lede">The page you’re looking for doesn’t exist.</p>
</MinimalLayout>
