---
import MinimalLayout from "../layouts/MinimalLayout.astro";
---
<MinimalLayout title="Contact" description="How to reach Alex Gednov">
  <div class="title">Contact</div>
  <p class="lede">Email: <a href="mailto:alexgednov@gmail.com">alexgednov@gmail.com</a></p>
  <p class="lede">GitHub: <a href="https://github.com/aeged" target="_blank" rel="noopener">@aeged</a></p>
</MinimalLayout>
