---
import MinimalLayout from "../layouts/MinimalLayout.astro";
---
<MinimalLayout title="About">
<pre class="card"> def greeting() -> None:
    print("Hello neighbor")</pre>
  <p>I'm interested in intelligent agents and generative AI.
  I also enjoy photography.</p>

  <p class="lede"><a href="mailto:alexgednov@gmail.com">alexgednov@gmail.com</a></p>
  <p class="lede"><a href="https://github.com/aeged" target="_blank" rel="noopener">@aeged</a></p>
</MinimalLayout>
