---
import MinimalLayout from "../layouts/MinimalLayout.astro";
---
<MinimalLayout title="About">
  <pre class="card">with torch.inference_mode():
    tk.decode(
        model.generate(
            **tk("Hello! 👋"),
        )[0]
    )</pre>
  <p>I'm interested in intelligent agents and generative AI ✨.</p>
  <p>I also enjoy photography.</p>
  <p>_</p>
  <p class="lede"><a href="https://www.linkedin.com/in/agednov/" target="_blank" rel="noopener">linkedin</a></p>
  <p class="lede"><a href="https://github.com/aeged" target="_blank" rel="noopener">github</a></p>
</MinimalLayout>
