---
import MinimalLayout from "../layouts/MinimalLayout.astro";
---
<MinimalLayout title="About">
<pre class="card">with torch.inference_mode():
    print(
        tk.decode(
            model.generate(
                **tk("Howdy neighbor! 👋"),
            )[0]
        )
    )
</pre>
  <p>I'm interested in intelligent agents and generative AI.
  I also enjoy photography.</p>

  <a href="mailto:alexgednov@gmail.com">alexgednov@gmail.com</a>
  <a href="https://github.com/aeged" target="_blank" rel="noopener">github</a>
</MinimalLayout>
